
@import url('https://fonts.googleapis.com/css?family=Orbitron')

/* -- NY Sass -- */
$operators-color: #fc1919
$operators-text-color: white
$button-color: #e4eeec
$input-background: #000000
$font-main: ('Orbitron', sans-serif)


.body
	display: flex
	justify-content: center

	.main
		margin-top: 20px
		width: 300px
		height: 380px
		border: solid black 1px

	.firstRow
		display: flex

	.clear
		width: 80%
		height: 60px
		background-color: $button-color

	.division
		width: 20%
		background-color: $operators-color
		color: $operators-text-color

	.buttonRow
		display: flex
		flex-direction: row

	.buttonRowOne
		flex-wrap: wrap
		width: 80%

	.buttonRowTwo
		flex-direction: column
		width: 20%

	.multiplication
		width: 100%
		height: 60px
		background-color: $operators-color
		color: $operators-text-color

	.subtraction
		width: 100%
		height: 60px
		background-color: $operators-color
		color: $operators-text-color

	.addition
		width: 100%
		height: 60px
		background-color: $operators-color
		color: $operators-text-color

	.equalTo
		width: 100%
		height: 60px
		background-color: $operators-color
		color: $operators-text-color

	button
		width: 33.3%
		height: 60px
		background-color: $button-color
		-webkit-appearance: none

	.buttonRowThree
		display: flex
		width: 80%
		margin-top: -60px

	.zero
		width: 66.6%
		height: 60px
		background-color: $button-color
		-webkit-appearance: none

	button
		width: 33.3%
		height: 60px
		background-color: $button-color
		-webkit-appearance: none

	.input
		display: flex
		justify-content: flex-end
		width: 100%
		height: 80px
		background-color: $input-background
		color: $operators-text-color

	p
		display: flex
		align-items: center
		font-family: $font-main
		font-size: 100%

	.color
		font-size: 10px

		// .blueTest
		// 	background-color: #A9A1CD

		.blue
			base #340CD8
			light #A9A1CD
			dark #180174

		.pink
			base #E60082
			light #DFA9C6
			dark #87004C

		.orange
			base #FF6C00
			light #FFDBC1
			dark #A94800
